:root {
    --main-color: #2196f3;
    --main-color-overlay: #2196f380;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-ser;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Start Main Title */

.Main-Title {
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 70px auto;
    font-size: 25px;
    border: 1px solid #000;
    width: fit-content;
    position: relative;
    z-index: 100;
    top: 50px;
    cursor: pointer;
}

.Main-Title:hover {
    color: #fff;
    border: none;
    animation-delay: 0.5s;
}

.Main-Title::before,
.Main-Title::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 12px;
    border-radius: 50%;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Main-Title::after {
    right: -25px;
    z-index: -1;
}

.Main-Title::before {
    left: -25px;
    z-index: -1;
}

.Main-Title:hover::before {
    animation: title-left 0.5s linear forwards;
    -webkit-animation: title-left 0.5s linear forwards;
}

.Main-Title:hover::after {
    animation: title-right 0.5s linear forwards;
    -webkit-animation: title-right 0.5s linear forwards;
}


/* End Main Title */


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium  */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* • Large  */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Start Header */

.header {
    position: relative;
    padding: 15px 0px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
}

.header .Main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.header .container .logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 991px) {
    .header .container .logo {
        font-size: 25px;
    }
}

.header .main-nav {
    display: flex;
    overflow: hidden;
}

.header .menu {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -2 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    border-bottom: 4px solid var(--main-color);
    padding-bottom: 25px;
}

.header .menu img {
    width: 400px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .menu img {
        display: none;
    }
}

@media (max-width: 991px) {
    .header .menu {
        flex-direction: column;
    }
}

.header .main-nav>.linkss:hover .menu {
    z-index: 100 !important;
    top: calc(100% + 2px);
}

.header .menu ul>li>a {
    color: var(--main-color);
    font-weight: bold;
    display: block;
    padding: 15px;
    min-width: 240px;
    border-bottom: 1px solid #ccc;
}

.header .main-nav>li>a {
    padding: 0px 25px;
    color: #000;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    position: relative;
    overflow: hidden;
    -o-transition: var(--main-transition);
}

@media (max-width: 991px) {
    .header .main-nav>li>a {
        font-size: 10px;
        font-weight: bold;
    }
}

.header .main-nav>li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0px;
    left: -400%;
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover::before {
    left: 0px;
}


/* End Header */


/*Start landing*/

.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ccccccfc;
    z-index: -1;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform-origin: top left;
}

@media (max-width: 991px) {
    .landing::before {
        /* transform: skewY(-6deg);
        -webkit-transform: skewY(-6deg);
        -moz-transform: skewY(-6deg);
        -ms-transform: skewY(-6deg);
        -o-transform: skewY(-6deg); */
    }
}

.landing .container {
    min-height: calc(100vh - 182.22px);
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    .landing .container {
        flex-direction: column-reverse;
    }
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    /* .landing .text {
        text-align: left;
    } */
}

.landing .text h2 {
    font-weight: bold;
}

@media (max-width: 991px) {
    .landing .text h2 {
        font-size: 25px;
        text-align: center
    }
}

.landing .text p {
    letter-spacing: 1px;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        text-align: center;
    }
}

.landing .img img {
    width: 700px;
    position: relative;
    max-width: 100%;
    animation: up-to-down 5s linear infinite;
    -webkit-animation: up-to-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .img img {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-animation: buttom-top 5s linear infinite;
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: buttom-top 1s linear infinite;
    -webkit-animation: buttom-top 1s linear infinite;
}


/*End landing*/


/* Start articles */

.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.articles .box:hover {
    box-shadow: 0 2px 15px #ccc;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.articles .box:hover .info i {
    position: relative;
    animation: arrow-right 1.5s linear infinite;
    -webkit-animation: arrow-right 1.5s linear infinite;
}

.articles .content,
.articles .info {
    padding: 10px;
}

.articles .content p {
    color: #666;
}

.articles .box img {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.articles .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .info i {
    color: var(--main-color);
}

.articles .info a {
    color: var(--main-color);
    font-weight: bold;
}


/* End articles */


/* Start GALLERY*/

.gallery {
    padding-bottom: var(--main-padding-bottom);
    /* background-color: #ececec; */
    background-color: #ccccccfc;
}

.gallery .gallery-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 200px;
}

.gallery .gallery-box .box {
    border: 15px solid #fff;
    transition: var(--main-transition);
    overflow: hidden;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.gallery .gallery-box .box:hover img {
    opacity: 0.4;
    /* -ms-transform: skewY(20deg);
    transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    -moz-transform: skewY(20deg);
    -o-transform: skewY(20deg); */
}

.gallery .gallery-box img {
    width: 100%;
    max-width: 100%;
}


/*End GALLERY*/


/* StartTime line */

.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
}

.timeline .timeline_contect {
    position: relative;
    overflow: hidden;
}

.timeline .timeline_contect:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    background-color: var(--main-color);
    margin-left: -1px;
    width: 2px;
    height: 100%;
}

.timeline .timeline_contect .year {
    margin: 20px auto;
    width: 50px;
    color: #fff;
    position: relative;
    background-color: var(--main-color);
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
}

.timeline .timeline_contect .left,
.timeline .timeline_contect .right {
    position: relative;
    width: calc(50% - 25px);
    margin-bottom: 25px;
}

.timeline .timeline_contect .left {
    float: left;
}

.timeline .timeline_contect .right {
    float: right;
}

.timeline .timeline_contect .content {
    background-color: #FFF;
    padding: 20px;
}

.timeline .timeline_contect .content h3 {
    font-weight: bold;
    color: var(--main-color);
}

.timeline .timeline_contect .content p {
    line-height: 1.6;
    color: #777;
}

.timeline .timeline_contect .left::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: -36px;
    border: 3px solid var(--main-color);
    ;
    top: 20px;
}

.timeline .timeline_contect .right::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: -36px;
    border: 3px solid var(--main-color);
    top: 20px;
}

.clearboth {
    clear: both;
}

.timeline .timeline_contect .left .content::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #FFF;
    right: -20px;
    position: absolute;
    top: 20px;
}

.timeline .timeline_contect .right .content::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FFF transparent transparent;
    left: -20px;
    position: absolute;
}


/* End Time Line */


/* Start features */

.features {
    padding-bottom: var(--main-padding-bottom);
}

.features-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .features-box .box {
    border: 1px solid #ccc;
    text-align: center;
}

.features .features-box .content {
    padding: 15px;
}

.features .features-box .content h2 {
    font-weight: bold;
    position: relative;
    font-size: 35px;
}

.features .features-box .content h2::after {
    content: "";
    width: 100px;
    position: absolute;
    height: 3px;
    background-color: var(--main-color);
    right: 35%;
    transform: translateY(-35%);
    bottom: 0;
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
}

.features .features-box .content p {
    color: #666;
}

.features .features-box .content button {
    padding: 10px 20px;
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
    background-color: #Fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.features .features-box .box:hover button {}

.features .features-box .content button::before {
    content: "";
    position: absolute;
}

.features .features-box .img-overlay {
    position: relative;
    overflow: hidden;
}

.features .features-box .img-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--main-color-overlay);
    height: 100%;
    left: 0;
    top: 0;
}


/* .features .features-box .img-overlay::before {
    content: "";
    position: absolute;
    transition: var(--main-transition);
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 150px 500px;
    border-color: transparent transparent #fff transparent;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
} */

.features .features-box .img-overlay::after {
    content: "";
    position: absolute;
    transition: var(--main-transition);
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 150px 500px;
    border-color: transparent transparent #fff transparent;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.features .features-box .img-overlay img {
    width: 100%;
    max-width: 100%;
}


/*End features*/


/* Start HOW IT WORKS */

.How-works {
    padding-bottom: var(--main-padding-bottom);
    background-color: #ccccccfc;
}

.How-works .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.How-works .Main-Works {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 991px) {
    .How-works .container {
        flex-direction: column-reverse;
    }
    .How-works .container img {
        margin-top: 25px;
    }
    .How-works .Main-Works {
        margin-bottom: 25px;
    }
}

.How-works .child-right-side {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 2px solid white;
    padding: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    margin-bottom: 10px;
}

.How-works .child-right-side img {
    width: 64px;
    height: 69px;
    margin-left: 15px;
    margin-right: 15px
}

.How-works .child-right-side-content {
    margin-left: 15px;
}

.How-works .child-right-side-content p {
    color: #666;
}


/* End HOW IT WORKS */


/*Start discount*/

.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}


/* @media (max-width:991px) {
    .discount .discount-info {
        display: none;
    }
} */

.discount .discount-info {
    position: relative;
    background-image: url('../image/discount-background1.jpg');
    background-size: cover;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.discount .discount-info::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #2196f3f5;
}

.discount .content {
    text-align: center;
    color: #fff;
    padding: 0px 20px;
}

.discount .discount-info .content img {
    width: 400px;
    max-width: 100%;
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.discount .form input {
    display: block;
    padding: 15px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
}

.discount .form textarea {
    resize: none;
    outline: none;
    display: block;
    width: 100%;
    height: 200px;
    border: none;
    border: 1px solid #ccc;
}

.discount .form [type='submit'] {
    display: block;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


/*End discount*/


/*Start animation*/

@keyframes up-to-down {
    0%,
    100% {
        top: 0px;
    }
    50% {
        top: -50px;
    }
}

@keyframes buttom-top {
    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes title-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes title-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes arrow-right {
    0%,
    100% {
        right: 0;
    }
    50% {
        right: 50px;
    }
}


/*End animation*/